{% extends "base_generic.html" %}

{% block content %}
<h1>{{ project.project_name }}</h1>
{% if project.active_timeentry_id > 0 %}
<h1> CURRENTLY TIMING </h1>
<form action="/core/{{ project.id }}/stoptiming/" method="post">
  {% csrf_token %}
  <input type="submit" value="Stop timing">
</form>
{% else %}
<h1> ON HOLD </h1>
<form action="/core/{{ project.id }}/timing/" method="post">
  {% csrf_token %}
  <input type="submit" value="Start timing">
</form>
{% endif %}
      <ul>
        {% if latest_timeentries %}
          <ul>
            {% for timeentry in latest_timeentries %}
              <li>{{ timeentry.start_time }} worked for {{ timeentry.delta_minutes }} minutes</li>
            {% endfor %}
          </ul>
        {% else %}
              <p>No time entries for this project.</p>
        {% endif %}
{% endblock %}
